<meta http-equiv=“Content-Type” content=“text/html;charset=utf-8″/>

 <link href="https://github.com/assets/github-bd7a9aac1964f57509ff6d9dbddc6e086343bca4.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://github.com/assets/github2-8fa43eb7ec103bd3bf79be09cf64db52d75c244f.css" media="screen" rel="stylesheet" type="text/css" />


      <link href="https://github.com/assets/styleguide-c5a62d5b9dd0e66af3d9450ae6589eeb5ca68db1.css" media="screen" rel="stylesheet" type="text/css" />

    <script src="https://github.com/assets/frameworks-eee761b9d5e06efb064aaaf528c44ef8e1601e71.js" type="text/javascript"></script>
    <script src="https://github.com/assets/github-e2238760e924ccb9d1992d97a62b75eef6f3bc8b.js" type="text/javascript"></script>

<div class="pagehead">
<div class="container">
   <ul class="tabs">
   <li><a href=>首页</a></li>
   <li><a href="/accounts/login/?next=/">登录</a></li>
   <li><a href="/accounts/register/?next=/accounts/login">注册</a></li>
   <li><a href="/accounts/user/?next=/">查看用户</a></li>
   <li><a href="/admin/">管理</a></li>
   
   <!--     <tagname attribute="value"      --->
   
   </ul>

</div> <!--container-->
</div> <!--pagehead-->

